extends layout

block content
  h1 Falcon Golden Crypto Age
  p.lead Welcome to the Falcon World!
  hr
  .row
    .col-md-6
      h2 Falcon Game
      p Please connect Casper wallet to play
      p
        a.btn.btn-success(href='game/2/index.html', role='button') Play »
  h1 Game Shop
  hr
  .row
    .col-md-4
      h3 Falcon Mini
      a(href='pic5/american_kestrel_01.jpg'): img(src='pic5/american_kestrel_01.jpg' height='200px')
      p 1.000 $RFMR American Kestrel
      p
        a.btn.btn-primary(href='pic5/american_kestrel_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Big Sur
      a(href='pic5/black_falcon_01.jpg'): img(src='pic5/black_falcon_01.jpg' height='200px')
      p 10.000 $RFMR Black Falcon
      p
        a.btn.btn-primary(href='pic5/black_falcon_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Mars
      a(href='pic5/brown_falcon_01.jpg'): img(src='pic5/brown_falcon_01.jpg' height='200px')
      p 100.000 $RFMR Brown Falcon
      p
        a.btn.btn-primary(href='pic5/brown_falcon_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Superbaby Terraform
      a(href='pic5/common_kestrel_01.jpg'): img(src='pic5/common_kestrel_01.jpg' height='200px')
      p 1000.000 $RFMR Common Kestrel
      p
        a.btn.btn-primary(href='pic5/common_kestrel_01.jpg', role='button') Buy
    .col-md-4
      h3 Mars Helicopter Bughunter
      a(href='pic5/lanner_falcon_01.jpg'): img(src='pic5/lanner_falcon_01.jpg' height='200px')
      p 1.000.000 $RFMR Lanner Falcon
      p
        a.btn.btn-primary(href='pic5/common_kestrel_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Atoms
      a(href='pic5/lesser_kestrel_01.jpg'): img(src='pic5/lesser_kestrel_01.jpg' height='200px')
      p 1.000.000 $RFMR Lesser Kestrel
      p
        a.btn.btn-primary(href='pic5/lesser_kestrel_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Terraform O2
      a(href='pic5/peregrine_falcon_01.jpg'): img(src='pic5/peregrine_falcon_01.jpg' height='200px')
      p 1.000.000 $RFMR 
      p
        a.btn.btn-primary(href='pic5/peregrine_falcon_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Terraform O3
      a(href='pic5/praire_falcon_01.jpg'): img(src='pic5/praire_falcon_01.jpg' height='200px')
      p 1.000.000 $RFMR 
      p
        a.btn.btn-primary(href='pic5/praire_falcon_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Terraform H2
      a(href='pic5/red_throated_caracara_01.jpg'): img(src='pic5/red_throated_caracara_01.jpg' height='200px')
      p 1.000.000 $RFMR 
      p
        a.btn.btn-primary(href='pic5/red_throated_caracara_01.jpg', role='button') Buy
    .col-md-4
      h3 Falcon Terraform H2O
      a(href='pic5/southern_crested_caracara_01.jpg'): img(src='pic5/southern_crested_caracara_01.jpg' height='200px')
      p 1.000.000 $RFMR 
      p
        a.btn.btn-primary(href='pic5/southern_crested_caracara_01.jpg', role='button') Buy

  h1 NEWS Falcon Facts
  h3 Last update 30 May 2021
  hr
  .row
    .col-md-9
      p
      a(href='https://www.britannica.com/animal/peregrine-falcon') peregrine falcon | Speed, Diet, & Facts 
      | Peregrine falcon, the most widely distributed species of bird of prey, with breeding populations on every continent except Antarctica and many oceanic islands. Its diving speed during flight is more than 300 km (186 miles) per hour, making it not only the world’s fastest bird but also the world’s fastest animal. 
      a(href='https://www.britannica.com/animal/peregrine-falcon') Learn more... 
    .col-md-3
      a(href='https://www.britannica.com/animal/peregrine-falcon'): img(src='pic1/peregrine-falcon.jpeg' height='200px')
  hr
  .row
    .col-md-9
      p
      a(href='https://github.com/RoleFarming/falcon') Falcon Role Farm Framework 
      | version v0.9 and grow falcon architecture. 
      a(href='https://github.com/RoleFarming/falcon') Learn more... 
    .col-md-3
      a(href='https://github.com/RoleFarming/falcon'): img(src='pic1/banner-small.jpg' width='200px')
  hr
  .row
    .col-md-9
      p
      a(href='pic1/bird-voices.png') Bird Voices 16D 
      | spatial audio game sound blockchain. 
      a(href='pic1/bird-voices.png') Learn more... 
    .col-md-3
      a(href='pic1/bird-voices.png'): img(src='pic1/bird-voices1.jpg' height='200px')
  hr
  .row
    .col-md-9
      p
      a(href='https://mitpress.mit.edu/blog/hidden-architecture-birds') The hidden architecture of birds
      | . Hidden Wonders: The Subtle Dialogue Between Physics and Elegance. 
      a(href='https://mitpress.mit.edu/blog/hidden-architecture-birds') Learn more... 
    .col-md-3
      a(href='https://mitpress.mit.edu/blog/hidden-architecture-birds'): img(src='pic1/hiddenwonders_700x1050.jpeg' height='auto' width='200px')
  
